---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

$illinois-orange : #FF5F50;
$illinois-orange-accessible : #C84113;
$illinois-blue   : #13294B;

$link-color : $illinois-blue;
$primary-color : $illinois-blue
$serif      : Georgia, Times, serif;
$sans-serif : "Source Sans 3", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  p,
  li,
  dl {
    font-size: 0.8em;
  }
}

html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}

// body {
//   min-width:500px;
// }

.greedy-nav .visible-links a:before {
  background-color: $illinois-orange-accessible;
}
