---
layout: splash
---

{{ content }}

<video class="background"
	loop
	muted
	autoplay
	preload="auto"
	width="100%" 
	poster="{{ site.baseurl }}/assets/images/video-logo.png">
<source src="{{ site.baseurl }}/assets/images/video-logo.webm" type="video/webm">
<source src="{{ site.baseurl }}/assets/images/video-logo.ogg" type="video/ogg">
<source src="{{ site.baseurl }}/assets/images/video-logo.mp4" type="video/mp4">
</video>

<h1 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent news" }}</h1>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
