---
layout: splash
---

{{ content }}

<video class="background" loop muted autoplay preload="auto" width="100%"
	poster="{{ site.baseurl }}/assets/images/video-logo.png">
	<source src="{{ site.baseurl }}/assets/images/video-logo.webm" type="video/webm">
	<source src="{{ site.baseurl }}/assets/images/video-logo.mp4" type="video/mp4">
</video>

<h1 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent news" }}</h1>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<table style="width:100%">
	<tbody>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				3 December 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Fabien gives a <a href="https://cnls.lanl.gov/external/showtalksummary.php?selection=8760">seminar talk</a> at
				the Center for Nonlinear
				Studies of the Los Alamos National Laboratory, New Mexico.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				23 November 2024
			</th>
			<td style="vertical-align:top; border: none;">
				We are at the <a href="https://dfd-meeting.aps.org/">APS-DFD meeting</a> in Salt Lake City this week, where
				Ashish presents <a href="https://meetings.aps.org/Meeting/DFD24/Session/T20.2">our work</a> on high-order
				semi-Lagrangian advection.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				4 November 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Welcome to Valentin Wasquel, who
				joins us from <a href="https://www.isae-supaero.fr/en/">ISAE-Supaéro</a> as a visiting graduate student for one
				semester.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				11 October 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Fabien presents the group's work at the Alumni Reunion of the Department of Aerospace Engineering at Illinois.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				11 October 2024
			</th>
			<td style="vertical-align:top; border: none;">
				New paper <a href="https://doi.org/10.1016/j.jcp.2024.113496">published in the Journal of Computational
					Physics</a>, in which we propose a correction scheme for recovering an accurate undisturbed velocity in
				two-way
				coupled wall-bounded Euler-Lagrange simulations (collab with Akshay Chandran and Berend van Wachem at
				the University of Magdeburg). The manuscript is also available on <a
					href="https://arxiv.org/abs/2405.10404">arXiv</a>.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				04 October 2024
			</th>
			<td style="vertical-align:top; border: none;">
				New paper <a href="https://doi.org/10.1017/jfm.2024.573">published in the Journal of Fluid Mechanics</a> with
				the excellent folks at the University of Magdeburg. We discuss several theoretical aspects of the
				volume-filtered Euler-Lagrange framework for simulating particle-laden flows. The manuscript can also
				be found on <a href="https://arxiv.org/abs/2402.05842">arXiv</a>.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				17 September 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Lorenzo is presenting <a href="https://www.hou.usra.edu/meetings/lunarsurface25/pdf/5020.pdf">his work</a> on
				PSI and crater modeling at the <a href="https://www.hou.usra.edu/meetings/lunarsurface2020/">Lunar Surface
					Science Workshop, Virtual Session 25: Plume-Surface Interactions</a>.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				15 August 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Welcome to Conrad Delgado, Ilia Kheirkhah, and Parin Trivedi, joining the group as PhD students! Conrad will
				be co-advised by <a href="https://aerospace.illinois.edu/directory/profile/mpanesi">Marco Panesi</a>.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				25 June 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Fabien is presenting our work on the numerical transport of fluid moments at the <a
					href="https://sites.psu.edu/icnmmf5/">ICNMMF</a> conference in Reykjavík, Iceland.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				08 June 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Two new papers <a href="https://www.sciencedirect.com/special-issue/10323F1BNNF">published in the Special Issue
					on Machine Learning for Multiphase Flows of the International Journal of Multiphase Flow</a>. <a
					href="https://doi.org/10.1016/j.ijmultiphaseflow.2024.104888">Paper 1</a> with Andrew Cahaly and Olivier
				Desjardins (Cornell) presents \(\texttt{PLIC-Net}\), a neural-network model for reconstructing
				piecewise-linear
				interfaces in volume-of-fluid simulations. <a
					href="https://doi.org/10.1016/j.ijmultiphaseflow.2024.104880">Paper 2</a> with Hani Elmestikawy, Julia
				Reuter, Sanaz Mostaghim, and Berend van Wachem (University of Madgeburg) proposes a new deterministic drag model
				for dense particle laden flows in the Stokes regime, using a approach combining neural-networks and genetic
				programming.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				05 June 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Welcome to Lorenzo Bruni, who joins the group as a PhD student! He will be co-advised by <a
					href="https://aerospace.illinois.edu/directory/profile/lvillafa">Laura
					Villafañe</a>.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				22 May 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Fabien becomes co-lead of the <a href="https://ilass.org/technical-committees-ilass-americas.php">Computational
					and Modeling Technical Commmittee of ILASS-Americas</a>.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				18 May 2024
			</th>
			<td style="vertical-align:top; border: none;">
				Fabien is at the <a href="https://ilass.org/index-americas.php">ILASS-Americas</a> 34th Annual Meeting in
				Ithaca, NY, giving a talk on our recent work on high-order geometric VOF.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				10 January 2024
			</th>
			<td style="vertical-align:top; border: none;">
				<a href="https://aerospace.illinois.edu/directory/profile/lvillafa">Laura
					Villafañe</a> (PI), Fabien, and <a href="https://me.engin.umich.edu/people/faculty/jesse-capecelatro/">Jesse
					Capecelatro</a> (Michigan) are awarded a <a
					href="https://www.nasa.gov/general/integrating-data-driven-and-physics-based-models-for-plume-surface-interaction-predictions/">NASA
					Early Stage Innovation
					grant</a> on the prediction of plume-surface interactions.
			</td>
		</tr>
		<tr>
			<th style="white-space: nowrap; vertical-align:top; text-align: right;">
				01 January 2024
			</th>
			<td style="vertical-align:top; border: none;">New website is online!
			</td>
		</tr>
	</tbody>
</table>

{% include paginator.html %}